* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background-color: rgba(19, 19, 19, 0.98);
    display: flex;
}

iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

section,
nav {
    display: block;
}


/*---- Nav bar -----*/

nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 55px;
    position: fixed;
}

a {
    color: white;
    text-decoration: none;
}

.icon {
    font-size: 19px;
    padding: 0 15px 0 15px;
    color: white;
}

#logo {
    width: 75px;
    vertical-align: middle;
}

#burger {
    padding: 8px;
    font-size: 19px;
    margin-right: 16px;
}

#avatar {
    width: 50px;
    border-radius: 50%;
    padding: 0 15px 0 15px;
}


/* Search Bar */

#search-box {
    justify-self: center;
    margin: 0 auto;
    display: flex;
    width: 640px;
}

#search-button {
    padding: 1px 7px 0 7px;
    cursor: pointer;
    width: 65px;
    border: 1px solid #303030;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 0 2px 2px 0;
    margin: 0;
    margin-left: -3px;
    width: 49px;
    height: 25px;
    box-sizing: content-box;
    outline: none;
}

#search-button:hover #search-icon {
    color: rgb(154, 154, 154);
}

#search-icon {
    display: inline-flex;
    vertical-align: middle;
    font-size: 15px;
    color: rgb(114, 114, 114);
    opacity: 0.6;
}

#search-bar {
    vertical-align: middle;
    height: 28px;
    width: 90%;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #303030;
    margin-right: -2px;
    margin: 0 auto;
}

#search-bar:focus {
    border-color: rgb(23, 76, 170);
}


/* Video and comments section */

section {
    width: 60%;
    padding-top: 80px;
    padding-left: 79px;
    margin-right: 10px;
}

iframe {
    margin-left: 13px;
    min-width: 50%;
    min-height: 50%;
    width: 97%;
    height: 480px;
}

#title-div {
    margin-top: 15px;
}

#title {
    margin-top: 15px;
    font-size: 18px;
    color: white;
    line-height: 24px;
    font-weight: 500;
}


/* Social */

#views-social {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#views {
    font-size: 14px;
    color: #aaaaaa;
    line-height: 35px;
}

.social-buttons {
    font-size: 19px;
    padding: 0 8px 4px 15px;
    color: #909090;
}

#social {
    margin-left: auto;
    display: flex;
}

.social-text {
    font-size: 13px;
    font-weight: 800;
    color: #aaaaaa;
    vertical-align: text-top;
}

#like-buttons {
    border-bottom: 2px solid #909090;
    padding: 0 5px 10px 0;
    border-collapse: collapse;
    display: flex;
}

.social-buttons-div {
    padding: 0 10px 0 10px;
}

#dots:hover i {
    color: #fff;
}